:root {
  --color-white: #e7e5e2;
  --color-black: #000;
  --color-yellow: #fcfd9c;
  --color-green: #85fac1;

  --transition: all 400ms ease;

  --container-width-lg: 74%;
  --container-width-md: 88%;

  --btn-raduis: 30px;
}

/* === GENERAL ===*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
body {
  line-height: 1.6;
  background: var(--color-white);
  overflow-x: hidden;
}

.container {
  width: var(--container-width-lg);
  max-width: 1800px;
  margin-inline: auto;
}
a {
  color: var(--color-black);
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.3em 1.6em;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--btn-raduis);
  transition: var(--transition);
  border: 1px solid var(--color-white);
  text-align: center;
  cursor: pointer;
}

.shadowEffect:hover {
  transform: translate(5%, -5%);
  box-shadow: -5px 5px 0px 0px var(--color-black);
}

section {
  height: 100vh;
  border-top: 3px solid var(--color-black);
}

/* body*/
.vertical_line {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--color-black);
}

.vertical_line.right {
  right: 5%;
}
.vertical_line.left {
  left: 5%;
}

/* ====  NAV === */
nav {
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid var(--color-black);
  background-color: var(--color-white);
}

nav .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 10px;
  width: 4rem;
  text-align: center;
  border: 1px solid var(--color-black);
  transition: var(--transition);
}
#open__items-btn {
  display: none;
}
.nav__items {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav__items li {
  padding: 0.4rem 0.5rem;
  transition: var(--transition);
  border: 1px solid var(--color-white);
}
.nav__items li:hover,
.logo:hover {
  font-weight: bold;
  box-shadow: -5px 5px 0px 0px var(--color-black);
  border: 1px solid var(--color-black);
  transform: translate(5%, -5%);
}

/*  === LANDING PAGE === */

.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landingPage .container {
  width: 45%;
  min-width: 865px;
  text-align: center;
}
.landingPage__title {
  position: relative;
  font-size: 3.2rem;
  margin-bottom: 2.5rem;
  line-height: 74.05px;
  font-weight: 400;
}
.landingPage__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  width: 1rem;
  height: 3rem;
  background-color: var(--color-black);
  animation: blink 1s infinite;
}
/* svg */
.gridEfect {
  background-color: var(--color-yellow);
  position: relative;
  text-align: center;
  border: 3px solid var(--color-black);
}
.landingPage__description {
  font-size: 1.25;
  margin-bottom: 4rem;
  width: 60%;
  margin-inline: auto;
}
.landingPage__btn {
  font-size: 2rem;
  background-color: var(--color-green);
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

/* === ANIMATION === */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* === MEDIEM SCREEN === */
@media screen and (max-width: 1024px) {
  /* General */
  .container {
    width: var(--container-width-md);
  }
  .vertical_line {
    display: none;
  }
  nav .container {
    position: relative;
  }
  /* this style just for test, will be changed */
  #open__items-btn {
    display: block;
    cursor: pointer;
    background-color: var(--color-white);
    position: relative;
    height: 14px;
    width: 20px;
  }
  #open__items-btn span {
    background-color: var(--color-black);
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    transition: var(--transition);
  }

  #open__items-btn span:first-child {
    top: 0;
  }

  #open__items-btn span:nth-child(2) {
    top: 6px;
  }

  #open__items-btn span:last-child {
    top: 12px;
  }

  #open__items-btn.active span:nth-child(2) {
    opacity: 0;
  }
  #open__items-btn.active span:first-child,
  #open__items-btn.active span:last-child {
    top: 6px;
  }

  #open__items-btn.active span:last-child {
    transform: rotate(45deg);
  }
  #open__items-btn.active span:first-child {
    transform: rotate(-45deg);
  }

  /* ====== */
  .nav__items.active {
    display: flex;
  }
  .nav__items {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 101%;
    gap: 0;
    background-color: var(--color-white);
  }
  .nav__items li {
    border: none;
    border: solid var(--color-black);
    border-width: 0px 1px 1px 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
  }

  .landingPage .container {
    width: 55%;
    min-width: 500px;
  }
  .landingPage__title {
    font-size: 2rem;
  }
  .landingPage__title::before {
    top: 15%;
    width: 0.7rem;
    height: 2rem;
  }
  .landingPage__description {
    font-size: 1.25;
    margin-bottom: 4rem;
    width: 60%;
    margin-inline: auto;
  }
  .landingPage__btn {
    font-size: 1rem;
  }
}

/* === SMALL SCREEN === */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
  nav .container {
    position: relative;
  }
  .nav__items {
    width: 100%;
  }
  .nav__items li {
    width: 100%;
  }
  .nav__items li:hover {
    box-shadow: none;
    transform: none;
    border-width: 0px 1px 1px 1px;
  }

  .landingPage .container {
    width: 65%;
    min-width: 360px;
  }
  .landingPage__title {
    font-size: 1.3rem;
  }
  .landingPage__title::before {
    top: 18%;
    width: 0.5rem;
    height: 1.3rem;
  }
  .landingPage__description {
    font-size: 1;
  }
}

/* ===*/
/* "DEVELOPER" BACKGROUND */

.gridEfect::after,
.gridEfect::before,
.extra-after,
.extra-before {
  position: absolute;
  border: solid var(--color-black);
  width: 3rem;
  background-color: transparent;
}
.gridEfect::after {
  content: "";
  height: 10px;
  border-width: 0 0 3px 3px;
  top: calc(-10px - 3px);
  right: calc(-3rem - 3px);
  content: "";
}
.gridEfect::before {
  content: "";
  height: 10px;
  border-width: 0 3px 3px 0;
  top: calc(-10px - 3px);
  left: calc(-3rem - 3px);
  content: "";
}
.gridEfect .extra-before {
  height: 1.4rem;
  border-width: 3px 0 0 3px;
  bottom: calc(-1.4rem);
  right: calc(-3rem);
}
.gridEfect .extra-after {
  height: 1.4rem;
  border-width: 3px 3px 0 0;
  bottom: calc(-1.4rem);
  left: calc(-3rem);
}
